sample-app/web-app
sample-app/sample-app
routing/routes
routing/routing
mware/mware
mware/middleware
json-api/book-api
html-api/rand-api
rendering/render
rendering/rendering
e2e/e2e
unit-testing/testing
unit-testing/unit-testing
controller/controller
**/*.o
**/*.sqlite
